<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html
        xmlns:h="http://xmlns.jcp.org/jsf/html"
>

<p>
    This example contains a pure javascript example.
</p>
<p>
    See javascript console for output.
</p>

<h:outputScript library="scripts" name="my-script.js"/>


</html>
